.loader {
  margin: 12px auto;
  width: 28px;
  height: 28px;
  border: 4px solid #ddd;
  border-top: 4px solid #945c5c;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
